@charset "utf-8";
/* ==========================================================================
   Tabbed Items
   ========================================================================== */

#tabbed {
  margin-top: -0.6rem;
  background-color: rgba(0, 110, 116, 0.95);
}
#tabbed > input {
  display: none;
}
#tabbed > label {
  margin: 0.2rem 0.1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #c8c8c8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), inset 0 0 3px #666;
  display: inline-block;
}
#tabbed > label:nth-of-type(1) {                                     /* Shift over to match sys-group */
  margin-left: 4.5%;
}
#tabbed > label:hover {
  opacity: 0.92;
}
#tabbed > label:focus {
  opacity: 0.82;
}
#tabbed > label:active {
  transform: translateY(1px);
  box-shadow: inset 0 0 6px #666;
  opacity: 0.74;
}
#tabbed > input:checked + label {
  background-color: #00c2c8;
}

#tabs {
  clear: both;
}
#tabs > div {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 0;
  display: inline-block;
  height: calc(100vh - 5.9rem);
  overflow-y: auto;
}
#tabbed input[type="submit"] {
  display:block;
  margin: 1.2rem auto 0.5rem;
}

#tab-nav-1:checked ~ #tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ #tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ #tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ #tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ #tabs > div:nth-of-type(5),
#tab-nav-6:checked ~ #tabs > div:nth-of-type(6),
#tab-nav-7:checked ~ #tabs > div:nth-of-type(7),
#tab-nav-8:checked ~ #tabs > div:nth-of-type(8) {
  opacity: 1;
  z-index: 1;
}

@media only screen and (max-width:480px), only screen and (max-device-width:480px) {
  #tabbed > label:nth-of-type(1) {
    margin-left: 0;
  }
}

